/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-shadow: var(--accent-color);
  --text-color: #f1b2ce;
  --bg-color-section: var(--text-shadow);
  --button-color-border: #ff007066;
  --text-color-header: #000028;
  --header-fc-color: #db00ff;
  --button-color: var(--accent-color);
}

:root.theme-dark .header__decorative-text {
  display: inherit;
}
