/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --accent-color: #353430;
  --text-shadow: #ff8dcb;
  --bg-color-section: var(--text-shadow);
  --text-color: var(--accent-color);
  --header-fc-color: #ffc2e6;
  --button-color: var(--accent-color);
  --button-color-border: #32312d66;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #ffeef6;
    --accent-color: #353430;
    --text-shadow: #ff8dcb;
    --bg-color-section: var(--text-shadow);
    --text-color: var(--accent-color);
    --header-fc-color: #ffc2e6;
    --button-color: var(--accent-color);
    --button-color-border: #32312d66;
  }
}
